/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
