body{
    background-image: url('https://media.giphy.com/media/3oEjHBa34dVLv0jnoc/giphy.gif');
    background-size: cover;
    /* height: 100vh; */
    padding:0;
    margin:0;
}

h1{
  color: white;
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px #ff0000;
}

p{
  color: #7C532B;
  font-feature-settings: inherit;
  font-variant: petite-caps;
  font-size: 37px;
  text-align: center;
  margin-top: 15%;
  font-style: oblique;
  font-weight: bolder;
}

button{
  position: absolute;
  transition: 1.5s ease;
  left: 39%;
  width: 20%;
  height: 15%;
  background-color: yellow;
  color: black;
  text-shadow: 2px 2px #ff0000;
  border-radius: 65%;
  font-size: 34px;
}

button:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

img{
  margin-left: 31%;
}
