body{
  font-family: 'Spectral', serif;
}
.photoBread{
  max-height: 250px;
  width: 100%;
  overflow: hidden;
}
.photos{
  height: 100%;;
  width: 100%;
  border-radius: 5px;
}
h1{
  font-size: 2rem;
  margin: 0
}
.title{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.desc{
  display: flex;
  justify-content: center;
}
.inputSec{
  display: flex;
  justify-content: center;
}
.snippetSec{
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 25px;
  font-style: italic;
}
.instructions{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: .8rem;
}
.reviewLink{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
