*{
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Bradley Hand", cursive;
  color: white;
}
body{
  background-image: url("back.jpg");
  background-size: cover;
}
h1{
  font-size: 2.7rem;
}
#breed, #country {
  font-size: 1.5rem;
  border-style: double;
  width: 50%;
  margin-left: 25%;
}
#breed {
  height: 50px;
}
#country {
  height: 75px;
}
p{
  font-size: 1.3rem;
}
i{
  font-size: 3rem;
  color: blue;
}
button{
  font-size: 1.5rem;
  color: black;
}
