.container{
    position: absolute;
    left: 50%;
    top: 50%;
    /* the transform can help with positioning */
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgb(39, 39, 39);
    width: auto;
    height: auto;
    text-align: center;
    background-color: grey;
}
body{
    background-color: teal;
}